<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/useful.css">
<header>
<div class="header-content">
    <img src="/assets/images/okomeonigiri_first.jpg" alt="ロゴ" class="header-logo">
    <h1 class="header-title">okome onigiri のサイト</h1>
    <a href="https://www.youtube.com/@okomeonigiri" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/youtube_icon.png" alt="YouTubeアイコン" class="header-logo_youtube">
    </a>
    <a href="https://www.instagram.com/onigiri10.24?igsh=c2VnOWxhcjcwNjQ0&utm_source=qr" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/instagram_icon.png" alt="Instagramアイコン" class="header-logo_instagram">
    </a>
</div>
<nav>
    <ul>
    <li><a href="/home.html" style="padding-left: 16px">HOME</a></li>
    <li><a href="/about.html">about</a></li>
    <li><a href="/contact.html">contact</a></li>
    <span class="select-page">
    <span>ページ移動</span>
        <select id="header-select">
            <option></option>
            <option value="/minecraft/okomeonigiri_server.html">Minecraftサーバー</option>
            <option value="/webApp/webapp.html">Webアプリ</option>
        </select>
        <button onclick="location.href=document.getElementById('header-select').value">移動</button>
    </span>
</nav>
</header>