.youtube-frame {
  width: 50vw;
  max-width: 1200px;
  aspect-ratio: 16/9;
  margin: 0px 10px 0 0;
}
.youtube-frame iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.youtube-container {
  display: flex;
  justify-content: center;
  margin: 0 10;
}

.search-container {
      margin: 0;
      max-width: 40vw;
      width: 100%;
    }
    .gcse-searchbox, .gcse-searchresults {
      display: block;
      margin: 0 auto;
      max-width: 600px;
    }
    .search-container h3,
    .search-container p {
      text-align: center;
    }